@model IEnumerable<AspViagens.Models.Banco.Plano>

@{
    ViewBag.Title = "SaibaMaisPlanos";
}
<link href="~/Styles/saibamaisPlanos.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/f744b840f7.js" crossorigin="anonymous"></script>


<div class="container-xl container-fluid">



    @foreach (var item in Model)
    {
        <div class="box-titulo">
            <h2 class="titulo">@ViewBag.nnPlano</h2>
            <h2 class="sub-carrossel">CONHEÇA:</h2>
            <h4 class="dsCidade">   @item.dsCidade</h4>

        </div>

        <div class="faixa">
            <div class="item">
                <i class="fa-solid fa-coins fa-lg"></i>
                <div class="item-text">
                    <h6> moeda local:</h6>
                    <h4 class="bold">  @item.dsMoeda</h4>
                </div>
            </div>

            <div class="item">
                <i class="fa-solid fa-sun fa-lg"></i>
                <div class="item-text">
                    <h6> clima:</h6>
                    <h4 class="bold">  @item.dsClima</h4>
                </div>
            </div>

            <div class="item">
                <i class="fa-solid fa-comments fa-lg"></i>
                <div class="item-text">
                    <h6> idioma:</h6>
                    <h4 class="bold">  @item.dsIdiomaP</h4>
                </div>
            </div>
        </div>


        <div class="box-titulo box">
            <h2 class="sub-carrossel"> ESTADIA: </h2>

            <i class="fa-solid fa-plane-departure fa-2xl icon"></i>

            <h6> Partida:</h6>
            <h4 class="bold">   @item.dsEstadiaInicio</h4>

            <h6> Retorno:</h6>
            <h4 class="bold">   @item.dsEstadiaTermino</h4>

            <h6> Tempo total:</h6>
            <h4 class="bold">   @item.dsEstadiaTotal</h4>
        </div>
    }
</div>